/* MAIN */
.main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins, 'Poppins', sans-serif);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  background: var(--grey, #eee);
}

.headTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;

  .left {
    h1 {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 10px;
      color: var(--dark);
    }

    .breadcrumb {
      display: flex;
      align-items: center;
      grid-gap: 16px;

      li {
        color: var(--dark);

        a {
          color: var(--dark-grey);
          pointer-events: none;
          text-decoration: none;

          &.active {
            color: var(--blue);
            pointer-events: unset;
          }
        }
      }
    }
  }

  .btnDownload {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--blue);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
    text-decoration: none;
  }
}

.boxInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;

  li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;

    .bx {
      width: 80px;
      height: 80px;
      border-radius: 10px;
      font-size: 36px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.bxs-calendar-check {
        background: var(--light-blue);
        color: var(--blue);
      }

      &.bxs-group {
        background: var(--light-yellow);
        color: var(--yellow);
      }

      &.bxs-dollar-circle {
        background: var(--light-orange);
        color: var(--orange);
      }
    }

    .text {
      h3 {
        font-size: 24px;
        font-weight: 600;
        color: var(--dark);
      }

      p {
        color: var(--dark);
      }
    }
  }
}

.tableData {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);

  & > div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
  }

  .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;

    h3 {
      margin-right: auto;
      font-size: 20px;
      font-weight: 600;
    }

    .bx {
      cursor: pointer;
    }
  }

  .order {
    flex-grow: 1;
    flex-basis: 500px;

    table {
      width: 100%;
      border-collapse: collapse;

      th {
        padding-bottom: 12px;
        font-size: 13px;
        text-align: left;
        border-bottom: 1px solid var(--grey);
      }

      td {
        padding: 16px 0;

        &:first-child {
          display: flex;
          align-items: center;
          grid-gap: 12px;
          padding-left: 6px;

          img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }

      tbody tr:hover {
        background: var(--grey);
      }

      .status {
        font-size: 10px;
        padding: 6px 16px;
        color: var(--light);
        border-radius: 20px;
        font-weight: 700;

        &.completed {
          background: var(--blue);
        }

        &.process {
          background: var(--yellow);
        }

        &.pending {
          background: var(--orange);
        }
      }
    }
  }

  .todo {
    flex-grow: 1;
    flex-basis: 300px;

    .todoList {
      width: 100%;

      li {
        width: 100%;
        margin-bottom: 16px;
        background: var(--grey);
        border-radius: 10px;
        padding: 14px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bx {
          cursor: pointer;
        }

        &.completed {
          border-left: 10px solid var(--blue);
        }

        &.notCompleted {
          border-left: 10px solid var(--orange);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Responsive
@media screen and (max-width: 768px) {
  .headTitle {
    .left {
      h1 {
        font-size: 28px;
      }
    }
  }

  .boxInfo {
    grid-template-columns: 1fr;
  }

  .tableData {
    .head {
      min-width: 420px;
    }

    .order table {
      min-width: 420px;
    }

    .todo .todoList {
      min-width: 340px;
    }
  }
} 